.banner{
    margin-top: 5px;
    height: 600px;
    background-color: #fbe9e197;
    padding: 50px;
    display: flex;
    justify-content: center;

    .wrapper{
        width: 70%;
        margin: 20px;
        padding: 50px 50px;
       

        .top{
            font-size: 45px;
            margin-bottom: 100px;
            text-align: center;
            color: #fc676c;
        }

        .bottom{
            display: flex;
            justify-content: center;
            align-items: center;

            .items{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 50px;
                
                .item{
                    
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .itemImg{
                        background: url(https://img2.shaadi.com/assests/2020/images/home-icon-sprite.png) no-repeat left 1px;
                        height: 148px;
                        width: 133px;
                        margin: 0 auto;
                        display: block;
                        position: relative;
                        background-size: 100%;
                    }

                    .step2{
                        background: url(https://img2.shaadi.com/assests/2020/images/home-icon-sprite.png) no-repeat left -292px;
                        background-size: 100%;
                    }

                    .step3{
                        background: url(https://img2.shaadi.com/assests/2020/images/home-icon-sprite.png) no-repeat left -591px;
                        background-size: 100%;
                    }

                    .link{
                        font-size: 25px;
                        font-weight: 500;
                        cursor: pointer;
                        color: #00bcd5;

                        &:hover{
                            text-decoration: underline;
                        }
                    }

                    .info{
                        width: 70%;
                        color: #72727d;
                        font-size: 14px;
                        text-align: center;
                        word-wrap: normal;
                        
                    }


                }
            }
        }
    }
}