.register {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  .reg_wrapper {
    width: 40%;
    border-radius: 5px;
    background-color: #fff;
    flex-wrap: wrap;

    .close {
      display: flex;
      justify-content: end;
      padding: 10px;

      .closeText {
        text-align: end;
        color: #95959d;
        cursor: pointer;
        display: flex;
        left: 390px;
        top: 8px;
      }
    }

    .regTop {

      .regLogo{
        margin: 0 auto;
        width: 80px!important;
        height: 80px;
        background: url(https://img2.shaadi.com/assests/2022/images/icoPageOne.svg) no-repeat 0 0;
        background-size: 80px 80px;
      }

      .userSelection {
        flex-wrap: wrap;
        margin: 10px;
        padding: 10px;
        height: auto;

        .regHeading{
          font: 500 28px/33px Roboto,sans-serif;
          font-size: 20px;
          color: #41404d;
        }

        .selectionItem {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .genderContainer{
        flex-wrap: wrap;
        margin: 10px;
        padding: 10px;
        height: auto;

        .genderHeading{
          font: 500 28px/33px Roboto,sans-serif;
            font-size: 20px;
            color: #41404d;
        }

        .userGender{

          .gender{
            display: flex;
            flex-wrap: wrap;
          }
        }
      }

      .regContinue {
        display: flex;
        justify-content: center;
        align-items: center;

        .continue_btn {
          margin: 50px;

          width: 240px;
          height: 40px;

          background: #0dd2f5;
          font-size: 20px;
          color: #fff;
          font-weight: 700;
          border: none;
          cursor: pointer;
          border-radius: 1.25rem;
        }
      }
    }
  }
}

.showReg {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  display: flex;
  overflow-y: scroll;
}
